/**
 * @name Nier UI theme tweaks
 * @version 1.1
 * @description Various tweaks to the NieR:Automata UI Light by https://github.com/AccraZed/YoRHA-UI-BetterDiscord
 * @author dootykins
 * @source https://github.com/24adamcho/YoRHA-UI-BetterDiscord-Tweaks
 */

/* GLOBAL VARIABLES */
:root {
	--color-high: rgb(218, 212, 187);
	--color-low: rgb(87, 84, 74);
	--color-mid: rgb(151, 147, 129);
	--color-alert: rgb(205, 102, 77);
	--color-high-trans: rgba(218, 212, 187, 0.8);
	--color-low-trans: rgba(87, 84, 74, 0.6);
	--color-alert-trans: rgba(205, 102, 77, 0.7);
	--nier-font: sce-ps3_rodin_latinregular;

	--color-green: rgb(116, 189, 133);
	--color-green-trans: rgb(116, 189, 133, 0.6);
}


@keyframes pulsingColor {
	0% {
		color: var(--color-low);
	}
	20% {
		color: var(--color-low);
		opacity: 100%;
	}
	50% {
		color: var(--color-low-trans);
		opacity: 75%;
	}
	80% {
		color: var(--color-low);
		opacity: 100%;
	}
	100% {
		color: var(--color-low);
	}
}

.tutorialContainer__890ea .svg_ad7356
{
	animation-name: none;
}

/**
 *	make channels/dms pulse only when hovered over to reduce visual noise
 */
.wrapper__7bcde .linkTop_eaa673:before {
	animation-name: none;
	background-color: var(--color-low);
}
.wrapper__7bcde .linkTop_eaa673:hover
{
	animation-name: pulsingColor !important;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}
.theme-dark .channel_c21703 .layout__59abc:before {
	animation-name: none;
	background-color: var(--color-low);
}
.theme-dark .channel_c21703 .layout__59abc:hover {
	animation-name: pulsingColor !important;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}

.searchBar_e4ea2a {
	border-bottom: 2px solid var(--color-low-trans);
}
.panels__58331 {
	border-top: 2px solid var(--color-low-trans);
}


/* .scroller__4b984 {
	border-top: 2px solid var(--color-mid);
} */

/* slight transparency dusting so the window bar at the top shows up a bit more clearly */
/* .app-2CXKsg,
.bg-1QIAus {
	background-color: rgba(100, 100, 100, 0.1);
}

/* rearrange annoying grid overlay behind most elements*/
#app-mount:after {
	z-index: -1 !important;
}

/* unspoilered text */
.obscuredTextContent__720d7[aria-hidden="false"] {
	color: var(--color-high);
	background-color: var(--color-low-trans);
	border-radius: 4px;
}

.backgroundFlash_e5b9ad::before {
	content:none;
}

.backgroundFlash_e5b9ad {
	transition: background-color .1s ease-out !important;
	background-color: var(--color-alert-trans) !important;
}
[style="background-color: rgba(148, 156, 247, 0);"] {
	background-color: transparent !important;
	transition: background-color 1s ease-out !important;
}

/* align text box with characters instead of pictures */
.channelTextArea__56a36 {
	margin-left: 13px;
}
.attachWrapper__6354f {
	padding-left: 4px;
	padding-right:4px;
}

.full-motion .avatar__08316.clickable_d866f1 {
	vertical-align: top;
	align-self: center;
	transform: translate(-8%, 4%);
	scale:118%;
}

/* fix broken embedded media borders (and also add a highlighting effect) */
.imageWrapper_fd6587 {
    background: transparent !important;
    
	display: inline-block !important;
	transform-origin: top left;
	transform: scale(100%);
	transition: box-shadow 0.2s ease-out;
}
.imageWrapper_fd6587:hover {
	box-shadow: 4px 4px 0 var(--color-alert) !important;
	transition: box-shadow 0.2s ease-out;
}

img,
video,
.embedMedia_b473d2 {
	border-radius: 0 !important;
}

.hideOverflow_d442b2 {overflow:visible !important;}

.messageContent__21e69,
.container_dbadf5 {
	transform: translate(10px, 0px);
}

.embedMedia_b473d2,
.oneByOneGrid__02495,
.mediaAttachmentsContainer_edba75 {
	/*outline: 10px solid rgba(0, 172, 69, 0.3);*/
	padding-bottom: 4px;
	padding-right: 4px;
}

/* some attatchment shit */
.embedWrapper_c143d9 {
	/* border-color: hsla(0, calc(1 * 100%), 50%, 1) !important; */
	border-width: 3px;
}
.nonMediaAttachmentsContainer_ca7b77 {
	box-shadow: 4px 4px 0 var(--color-mid);
}
.attachment-1PZZB2.horizontal-1Piu5-.flex-3BkGQD.directionRow-2Iu2A9.alignCenter-14kD11.embedWrapper-1MtIDg.attachmentContentItem-UKeiCx.newMosaicStyle-35X6XO {
	box-shadow: -9px 0 0 var(--color-high), -12px 0 0 var(--color-low);
}
.container_dbadf5 > .embedWrapper_c143d9.embedFull__8dc21.embed_d3cbe3:has(.gridContainer_de8cdc) {
	border-left: 3px solid var(--color-low);
}
.spoilerContent__37bfa {
	border-radius: 0;
	margin-bottom: 4px;
	margin-right:4px;
	transition: box-shadow 0.2s ease-out;
	box-shadow: 4px 4px 0 var(--color-mid) !important;
}
.spoilerContent__37bfa:hover {
	background-color:var(--color-high);
	transition: box-shadow 0.2s ease-out;
	box-shadow: 4px 4px 0 var(--color-alert) !important;
}
.embedGalleryImagesWrapper__1c971 {
	border-radius:0;
	margin-bottom: 4px;
	margin-right: 4px;
	box-shadow: 4px 4px 0 var(--color-mid);
}

.attachment-1PZZB2 {
	left:0;
	margin-left:0;
	padding-left:0;
	border-radius: 0;
	box-shadow: 4px 4px 0 var(--color-mid);
	border:none;
	border-left: 3px solid var(--color-low);
}
.ECBlock {
	margin-top:4px;
	border-radius: 0;
	box-shadow: 4px 4px 0 var(--color-mid),
				-12px 0px 0 var(--color-low), 
				-9px 0px 0 solid var(--color-mid)
				-4px 0px 0 var(--color-low),;
	border:none;

}
.ECBlock,
.messageContent__21e69 pre > code {
	left:-9px;
	position:relative;
}
.markup_a7e664 {
	overflow:visible !important;
}
.mediaAttachmentsContainer_edba75 {
	display:grid;
	gap:4px;
}
.mediaAttachmentsContainer_edba75 > * {
	gap:8px;
}
.mediaAttachmentsContainer_edba75 > * > * {
	box-shadow: 4px 4px 0 var(--color-mid);
	transition: box-shadow 0.2s ease-out;
}
.mediaAttachmentsContainer_edba75 > * > *:hover {
	box-shadow: 4px 4px 0 var(--color-alert);
	transition: box-shadow 0.2s ease-out;
}

/* streaming fixes */
.status__42e87.interactive__7ee97 {
	display:none;
}
.buttonContents-2lXacR>.defaultColor-1EVLSt {
	color:var(--color-mid);
}
.button-2fD9Wx:hover>.contents-3NembX>.defaultColor-1EVLSt {
	color:var(--color-low);
}
.wrapper-1gVUIN {
	z-index: 80;
}
participantsWrapperAnimated_d4f0cf {
	padding-bottom: 4px;
	padding-right: 4px;
}
.pictureInPictureWindow_dc49a8 {
	border-radius:0;
	box-shadow: 4px 4px 0 var(--color-low) !important;
}
.border_d9a17b,
.speaking__9b95a,
.pictureInPictureVideo_f1081d {
	border-radius:0;
}
.text-md-normal-2rFCH3,
.small-19_Ojd {
	color:var(--color-high) !important;
}
.headerTitle-iz6vaZ > *,
.viewers-15Alqi > * ,
.controlIcon-10O-4h {
	color:var(--color-mid-trans) !important;
}
.headerTitle-iz6vaZ:hover > *,
.viewers-15Alqi:hover > * ,
.controlIcon-10O-4h:hover {
	color:var(--color-high) !important;
}
.streamPreview__1846c {
	border-radius: 0;
	box-shadow: 4px 4px var(--color-mid);
	padding:4px;
}

/* make guild markers prettier*/
.wrapper__3670f,
.item_f9d377 {
	height: 100% !important;
	width: 16px !important;
}

/* blink dm alert marker color */
@keyframes dmBlink {
	20% {
		opacity: 100%;
	}
	50% {
		opacity: 55%;
	}
	80% {
		opacity: 100%;
	}
}

.pill__357e7 > .item_f9d377 {
	background-color: var(--color-green);
	animation-name: dmBlink;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;

	transition: background-color 0.2s ease-out;
}
.listItem_fa7b36:hover > .pill__357e7 {
	animation-play-state: paused;
	background-color: var(--color-low);
	transition: background-color 0.2s ease-in;
}

/* shove around guild alert badges */
.lowerBadge-3j0ZAg,
.upperBadge-1d6YsW {
	left:0;
	right:auto;
	scale:90%;
}
.upperBadge-1d6YsW {
	transform-origin: top right;
	opacity:0;
	transform: translate(-110%, 0%) !important;
}
.lowerBadge-3j0ZAg {
	transform-origin: bottom right;
	transform: translate(-110%, -1%) !important;
}

.numberBadge-37OJ3S, .icon-2Ug6UV {
	background-color: rgba(0,0,0,0) !important;
}

/* guild ping alert blink */
/* use top level listItem pseudoselector so we can crawl back up and affect .pill.item instead for colors*/
.listItem_fa7b36:has(
	div 
		> .blobContainer__5ee50
			> .wrapper__3af0b
				> .lowerBadge__669e7
	) 
	> .pill__6b31b
		> .item_f9d377,
.listItem_fa7b36:has(
	div 
		> .wrapper__3af0b
			> .lowerBadge__669e7
	) 
	> .pill__357e7
		> .item_f9d377 {
	background-color: var(--color-green);
	animation-name: dmBlink;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.listItem_fa7b36:has(
	div 
		> .blobContainer__5ee50
			> .wrapper__3af0b
				> .lowerBadge__669e7
	):hover
	> .pill__6b31b
		> .item_f9d377,
.listItem_fa7b36:has(
	div 
		> .wrapper__3af0b
			> .lowerBadge__669e7
	):hover
	> .pill__357e7
		> .item_f9d377 {
	animation-play-state: paused;
	background-color: var(--color-low);
	transition: background-color 0.2s ease-in;
}
/*also fix transparency on other server icons*/
.iconBadge_fdf33a,
.numberBadge__50328 {
	background-color: transparent !important;
}

/* channel ping alert that doesn't suck ass*/
.linkTop_eaa673:has(
				.children_a486f8
					> .channelInfo_b7ab2e
						> .mentionsBadge_c2f85b) {
	background-color: var(--color-green-trans);
	animation-name: dmBlink;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.linkTop_eaa673:has(
				.children_a486f8
					> .channelInfo_b7ab2e
						> .mentionsBadge_c2f85b)::before {
	background-color: var(--color-green);
	animation-name: dmBlink;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}
.channelInfo_b7ab2e > .mentionsBadge_c2f85b > .numberBadge__50328 {
	color:var(--color-alert-trans) !important;
	font-weight:bold;
}

/* voice channel users */
.total_c01838 {
	background-color:var(--color-low) !important;
}
.total_c01838::after {
	border-right-color: var(--color-low) !important;
}
.wrapper__5848b {
	border: 0px;
	box-shadow: 2px 2px 0 var(--color-mid) !important;
}

/* channel description invisible */
.topic__16ae3 {
	color: var(--color-low-trans) !important;
}

/* opened image 'Open Original' text is barely visible */
.downloadLink_e5ebe9 {
	color: var(--color-high-trans) !important;
	text-shadow: 3px 2px 0 var(--color-mid);
	display:flex;
	right:0;
	left:auto;
}

/* new messages bar */
@keyframes slideIn {
	0% {
		scale:90%;
		background-opacity:0;
	}
	100% {
		scale:100%;
		background-opacity:1;
	}
}
.barBase__4e0ba {
	min-height: 0;
	transform-origin:center center;
	animation: slideIn 0.2s;
	overflow:hidden !important;

	left: 20px;
	right: 20px;
	opacity:1;
	
	background-color: var(--color-alert);
	box-shadow: 6px 6px var(--color-low-trans);
}
/* .newMessagesBar-1hF-9G:has(*:hover),
.jumpToPresentBar-1cEnH0:has(*:hover) {
	box-shadow: 5px 5px var(--color-low-trans);
	transform:translate(-1px, -1px);
}
.newMessagesBar-1hF-9G > *:hover,
.jumpToPresentBar-1cEnH0 > *:hover {
	border-bottom: 1px solid transparent!important;
} */

/* quirky offsets */
.newMessagesBar__8b6d7 {
	min-width: fit-content;
	width:35%;
	top:20px;
	margin-left:0;
	margin-right:auto;
}
.jumpToPresentBar__0ff7f {
	bottom:18px;
	padding-bottom: 0px;
	height:32px;
	min-width: fit-content;
	width: 40%;
	margin-left:auto;
	margin-right:0;
}

/* shade channel title bar */
/* .chat-9g_3Xj {
	display: flex;
} */
.title_b7d661 {
	background: var(--color-high-trans) !important;
	height:52px;
	border-bottom: 2px solid var(--color-low-trans) !important;
}

/* fix member list scroll */
.container_b2ce9c {
	border-left: solid 2px var(--color-low-trans);
}
/* .content-18rAwf,
.container-2vWgD2 {
	position:relative;
	bottom:0;
	top:0;
}
.container-2vWgD2 > .membersWrap-3GwLFp  > .members-2y1nVj {
	padding-top:48px;
}
.content-1jQy2l {
	position:absolute;
	z-index: 50;
	height:100%;
	width: 100%;
} */

/* hackey server title button highlight */
.container-1-ERn5.hasBanner-2IrYih> .header-3OsQeK:hover {
	background-color:var(--color-high-trans) !important;
}
.container-1-ERn5 > .header-3OsQeK:hover {
	background-color:var(--color-high) !important;
}
/* channel title nicities */
.header__104ca {
	background-color: var(--color-high-trans);
	border-bottom:2px solid var(--color-low-trans);
	height:52px;
}
.animatedContainer__341f6 {
	background-color: transparent !important;
	opacity: 1 !important;
	
	height:135px;
	border-bottom: 2px solid var(--color-low-trans);
	transition:border-color .2s linear;
}
.bannerImage__39c51::before {
	background:none !important;
}
.hasBanner_e78601 .header__104ca {
	border-bottom:2px solid transparent;
	transition:background-color .2s linear, border-color;
}
.container__7c79d:not(.hasBanner_e78601) > .animatedContainer__341f6 {
	border-color: transparent !important;
	height:140px;
	transition:border-color .2s linear, height .2s linear;
}
.headerContent_ee8727 {
	filter:none !important;
}

.flowerStarContainer_d8d14b > .flowerStar_a9981e > path {
	color:var(--color-alert) !important;
	fill:var(--color-alert) !important;
}
.flowerStarContainer_d8d14b > .childContainer__4e664 > * > path {
	color:var(--color-high) !important;
	fill:var(--color-high) !important;
}

/* .content-yjf30S > div[style="height: 12px;"]{
	height:0 !important;
} */

/* editor window tweak */
.floating-addon-window {
	box-shadow: 4px 4px var(--color-low-trans);
	opacity:80%;
}

/* members list border */
/* .container-2o3qEW {
	border-left: 2px;
	border-color: var(--color-low);
	border-left-style: solid;
} */
/* .container_b2ce9c::after {
  content: '';
  height: 100%;
  width: 2px;
  
  position: absolute;
  left: 0;
  top: 48px;
  
  background-color: var(--color-low-trans);
} */

/* channel scroll borders for boundary visibility */
.sidebar_ded4b5 {
	border-left:2px;
	border-right:2px;
	border-color: var(--color-low-trans);
	border-style:solid;
}

/* tooltip and infobox fix */
.tooltip__01384,
.contentWrapper__321ed,
.contentWrapper-3vHNP2  {
	border-radius: 0;
	border:0px;
	box-shadow: 4px 4px var(--color-mid) !important;
}

/* reply prettyfy */
.message__80c10 {
	padding-right: 0 !important;
}
.message__80c10 .contents_f41bb2,
.message__80c10 .container_dbadf5{
	max-width: 800px;
}
.message__80c10 .contents_f41bb2,
.message__80c10 .container_dbadf5,
.message__80c10 .buttonContainer_dd4b62 {
	/* padding-right: 48px !important; */
	padding-right: 0px !important;
	margin-right: 48px !important;
}

.repliedTextPreview__90311 {
	order:2;
	left:0;
	min-width:400px;
	max-width: 800px;
	margin-right:40%;
	--mask: linear-gradient(to right, 
      rgba(0,0,0, 1) 0,   rgba(0,0,0, 1) 40%, 
      rgba(0,0,0, 0) 95%, rgba(0,0,0, 0) 0
  ) 100% 50% / 100% 100% repeat-x;
  -webkit-mask: var(--mask); 
  mask: var(--mask);
}
.repliedTextContentIcon__4dd82 {
	order:1;
}

/* hide popup when fuckton of characters */
.characterCount_e55010 {
	display: none;
}
/* ...but still make it display, just on a separate plugin */
.form__13a2c {
	padding-bottom:0px;
}
.counter-uAzbKp {
	padding-top: 2px;
}
@keyframes shake {
  0%   { text-shadow:  3px  3px var(--color-low); transform:translate(1px, 1px); }
  10%  { text-shadow:  2px  1px var(--color-low); transform:translate(-1px, -1px); }
  20%  { text-shadow:  2px  2px var(--color-low); transform:translate(-1px, 0px); }
  30%  { text-shadow:  1px  3px var(--color-low); transform:translate(1px, 1px); }
  40%  { text-shadow:  1px  1px var(--color-low); transform:translate(1px, -1px); }
  50%  { text-shadow:  1px  2px var(--color-low); transform:translate(-1px, 1px); }
  60%  { text-shadow:  1px  3px var(--color-low); transform:translate(-1px, 1px); }
  70%  { text-shadow:  2px  1px var(--color-low); transform:translate(1px, 1px); }
  80%  { text-shadow:  2px  3px var(--color-low); transform:translate(-1px, -1px); }
  90%  { text-shadow:  1px  2px var(--color-low); transform:translate(1px, 1px); }
  100% { text-shadow:  1px  2px var(--color-low); transform:translate(-1px, 0px); }
}
.channelTextArea__56a36:has(.error_c9623f) ~ .counter_uAzbKp {
	color:var(--color-alert);
	text-shadow: 2px 2px var(--color-low);
	transform:translate(-2px, -2px);
	transition: all .4s;

	animation: shake 0.2s linear infinite forwards;
}
.counter_uAzbKp {
	color:var(--color-low-trans);
	text-shadow: 0px 0px var(--color-low-trans);
	transform:translate(0, 0);
	transition: all 1s;
	font-size: 100% !important;
}
/* buzz text counter instead of bringing up annoying nitro advert 
	this technically works but leads to a memory leak, spawning infinite popups.*/
/* .layerContainer-2lfOPe {
	display:none;
} */


/* align text pretty style */
.markup_a7e664.messageContent__21e69 {
	text-align: justify;
}
.scrollbarGhostHairline_c9a45f,
.ECBlock-wrapper {
	text-align: left;
}
/* edge case that results in embed links justifying previous text */
.markup_a7e664.messageContent__21e69:has(.attachmentLink)>*:nth-last-child(3)::after {
	content:'\A';
}

.markup_a7e664.editor__66464 {
	text-align: justify;
}
.markup_a7e664.editor__66464 
	> div:has(
		span
			.codeBlockSyntax__71770
	),
.markup_a7e664.editor__66464 
	> div:has(
		span
			.codeBlockText__6172e
	),
.markup_a7e664.editor__66464 
	> div.codeLine-2C-9aH {
	text-align: left;
}
.codeBlockLang__3785b {
	color:var(--color-green);
}

/* code string contrast fix */
.hljs-string {
	color:var(--color-green) !important;
}

/* fix italibold (missing in nier font probably) */
.italics_b5be51.bold__7430c {
	font-style:normal;
	text-shadow:2px 2px var(--color-mid);
}

/* block quote */
blockquote {
	background-color:var(--color-high);
	box-shadow: 4px 4px var(--color-mid);
}
.blockquoteContainer_f24d1f {
	padding-bottom: 4px;
}

/* danger alert buttons */
.item__48dda.themed_b957e8:has(.tabBarItemContainer_d74773) {
	background-color: var(--color-alert) !important;
	box-shadow: 0  1px var(--color-low) inset, 0  2px var(--color-high) inset, 0  3px var(--color-low) inset,
				0 -1px var(--color-low) inset, 0 -2px var(--color-high) inset, 0 -3px var(--color-low) inset;
}

/* voice channel description tweak for visibility */
.containerDefault__3187b:has(
	div
		>.wrapper__7bcde
			>div
				>.link__95dc0
					>.linkBottom_bac113
						>.subtitle_bba2b7)
	>.list__02208 {
	padding-top:21px;
}
.linkBottom_bac113 {
	padding-top:3px;
}

/* profile tweaks */
.roundedBanner__9fa0a {
	border-radius:0;
}
.theme-dark .root_a28985 {
	box-shadow: 3px 3px 0 var(--color-low) !important
}